table{
    table-layout: fixed;
    border: 6px solid black;
    width: 100%;
}

tr{
    width: 100%;
}

td{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.start-hour{
    border-top: 1px solid black;
}


